@import "https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap";
@import "https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Quicksand:wght@400;500&display=swap";
@import "https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Quicksand:wght@500&display=swap";
.feature[data-v-7da21456] {
  font-family: Quicksand, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.013px;
}
.wrapper[data-v-7da21456] {
  width: 1590px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}
.category[data-v-7da21456] {
  display: flex;
  font-family: Quicksand, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.category a[data-v-7da21456] {
  margin-left: 20px;
  text-decoration: none;
  color: #253d4e;
}
.font[data-v-a62a9ffa] {
  margin-left: 10px;
}
button[data-v-a62a9ffa] {
  position: relative;
  border: none;
  padding: 8px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #fff;
  border-radius: 3px;
  box-shadow: 14px 14px 36px #5555551a;
}
.item[data-v-fdae558a] {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 136px;
  height: 177px;
  flex-shrink: 0;
  border-radius: 10px;
}
.item[data-v-fdae558a]:hover {
  transform: scale(0.9);
}
._title[data-v-fdae558a] {
  color: var(--NestMart-TextHeading, #253d4e);
  text-align: center;
  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.006px;
}
._item[data-v-fdae558a] {
  color: var(--NestMart-Text-Muted, #b6b6b6);
  text-align: center;
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 18px;
}
.image[data-v-fdae558a] {
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
*[data-v-c288dc72] {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
._promotion[data-v-c288dc72] {
  width: 512px;
  height: 300px;
  position: relative;
  border-radius: 10px;
}
._promotion[data-v-c288dc72]:hover {
  transform: scale(0.9);
}
._img[data-v-c288dc72] {
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: end;
  align-items: end;
  width: 200px;
  height: 250px;
  right: 0;
  bottom: 0;
}
._quote[data-v-c288dc72] {
  position: absolute;
  width: 512px-200px;
  position: relative;
}
._text[data-v-c288dc72] {
  position: absolute;
  top: 75px;
  left: 48px;
  width: 271px;
  color: var(--NestMart-TextHeading, #253d4e);
  font-family: Quicksand;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.01px;
  z-index: 10;
}
._btn[data-v-c288dc72] {
  position: absolute;
  left: 48px;
  bottom: 75px;
}
img[data-v-c288dc72] {
  height: 250px;
}
.bg[data-v-0103249f] {
  background-color: #fff;
}
.item[data-v-0103249f] {
  mix-blend-mode: multiply;
}
#input_amout[data-v-d44d1730] {
  position: absolute;
  width: 90%;
  height: 90%;
  border: none;
  outline: none;
  color: #3bb77e;
  font-family: Quicksand;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.006px;
  text-align: center;
}
.btn[data-v-d44d1730] {
  position: relative;
  width: 67px;
  height: 29px;
  border-radius: 4px;
  border: 1px solid #3bb77e;
  background: #fff;
  box-sizing: border-box;
}
input[type="number"][data-v-d44d1730]::-webkit-inner-spin-button,
input[type="number"][data-v-d44d1730]::-webkit-outer-spin-button {
  opacity: 1;
  color: #3bb77e;
}
.btn[data-v-f88737a2] {
  position: relative;
  width: 67px;
  height: 29px;
  border-radius: 4px;
  border: 1px solid #3bb77e;
  background: #fff;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--NestMart-Brand-1, #3bb77e);
  font-family: Quicksand;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.006px;
  cursor: pointer;
}
.star img[data-v-08331243] {
  margin-right: 5px;
}
.price_dis[data-v-08331243] {
  color: var(--NestMart-Brand-1, #3bb77e);
  font-family: Quicksand;
  font-size: 20px;
  font-style: normal;
}
._gram[data-v-08331243] {
  color: var(--NestMart-TextBody, #7e7e7e);
  font-family: Lato;
  font-size: 12px;
}
.del[data-v-08331243] {
  color: var(--NestMart-TextBody, #7e7e7e);
  font-family: Quicksand;
  font-size: 12px;
  margin-left: 5px;
}
.star[data-v-08331243] {
  font-family: Lato;
  font-size: 14px;
}
.detail > div[data-v-08331243] {
  margin-top: 3px;
}
._title[data-v-08331243] {
  color: var(--NestMart-TextHeading, #253d4e);
  font-family: Quicksand;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
}
.wrapper[data-v-08331243] {
  width: 290px;
  height: 400px;
  border-radius: 10px;
  border: 1px solid #bce3c9;
  background: #fff;
  position: relative;
}
.discount[data-v-08331243] {
  width: 58px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: absolute;
  left: 0;
  top: 20px;
  border-radius: 0 30px 30px 0;
  color: #fff;
  font-family: Lato;
  font-size: 12px;
}
._img[data-v-08331243] {
  position: absolute;
  width: 201.893px;
  top: 60px;
  left: 50%;
  translate: -50% 0;
  mix-blend-mode: multiply;
}
._img:hover .wrapper[data-v-08331243] {
  transform: scale(0.9);
}
.detail[data-v-08331243] {
  width: 261px;
  position: absolute;
  bottom: 0;
  left: 50%;
  translate: -50% 0;
  padding-bottom: 20px;
}
._price[data-v-08331243] {
  width: 260px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
._p[data-v-08331243] {
  color: var(--NestMart-TextBody, #7e7e7e);
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
._fruit[data-v-049dd8a8] {
  display: flex;
  justify-content: space-between;
}
.menu[data-v-049dd8a8] {
  margin-top: 50px;
}
.container[data-v-049dd8a8] {
  margin: auto;
  width: 1590px;
}
